files:
  "/home/ec2-user/.bashrc" :
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
      # Source global definitions
      if [ -f /etc/bashrc ]; then
        . /etc/bashrc
      fi
      # User specific aliases and functions
      alias rm='rm -i'
      alias cp='cp -i'
      alias mv='mv -i'
      alias ll='ls -la --color=auto'
      alias ban='fail2ban-client set apache-badbots banip'
      alias art="sudo -E -u webapp php artisan"
      alias cdd="cd /var/app/current"
      alias cdo="cd /var/app/staging"
