container_commands:
  01_make_storage_writable:
    command: "chmod -R 775 /var/app/staging/storage"
  02_delete_storage_logs_directory:
    command: "rm -rf /var/app/staging/storage/logs"
  03_create_app_logs_directory:
    test : '[ ! -d /var/app/logs ] && echo "logs directory does not exists, creating.."'
    command: "mkdir -p /var/app/logs; chown webapp.webapp /var/app/logs"
    ignoreErrors: true
  04_create_symlink_storage_logs_to_app_logs:
    command: "ln -s /var/app/logs /var/app/staging/storage/logs"

